

    @charset "utf-8";
    @import url("font-awesome.min.css");
    @import url("framework.css");
    
    /* Rows
    --------------------------------------------------------------------------------------------------------------- */
    .row0, .row0 a{}
    .row1, .row1 a{}
    .row2, .row2 a{}
    .row3, .row3 a{}
    .row4, .row4 a{}
    .row5, .row5 a{}
    
    
    /* Header
    --------------------------------------------------------------------------------------------------------------- */
    #header{}
    
    #header #logo{margin:30px 0 0 0;}
    #header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}
    
    /* Content Area
    --------------------------------------------------------------------------------------------------------------- */
    .container{padding:80px 0;}
    
    /* Copyright
    --------------------------------------------------------------------------------------------------------------- */
    #copyright{padding:20px 0;}
    #copyright *{margin:0; padding:0;}
    
    /* Transition Fade
    --------------------------------------------------------------------------------------------------------------- */
    *, *::before, *::after{transition:all .3s ease-in-out;}
    #mainav form *{transition:none !important;}
    
    
    /*MAPA
    ----------------------------------------------------------------------------------------------------------------*/
    aside{width:50%;float:left;}
    .input-maps{display: -webkit-inline-box;}
    .mapa-todo{position: relative; left: 170px;}
    .maps{ width:100%;height:400px;background:white}
    
    /*Formulario
    --------------------------------------------------------------------------------------------------------------*/
    .login{display: -webkit-inline-box;}
    
    /* Navigation
    --------------------------------------------------------------------------------------------------------------- */
    nav ul, nav ol{margin:0; padding:0; list-style:none;}
    #mainav, #breadcrumb, .sidebar nav{line-height:normal;}
    #mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}
    
    
    
    
    /* Top Navigation */
    #mainav{}
    #mainav ul{text-transform:uppercase;}
    #mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
    #mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
    #mainav li:last-child{margin-right:0;}
    #mainav li li{width:100%; margin:0;}
    #mainav li a{display:block; padding:30px 0;}
    #mainav .drop{padding-left:15px;}
    #mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
    #mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
    #mainav .drop::after{top:35px; left:5px;}
    #mainav ul ul{visibility:hidden; opacity:0;}
    #mainav ul li:hover > ul{visibility:visible; opacity:1;}
    
    #mainav form{display:none; margin:0; padding:0;}
    
    /* Breadcrumb */
    #breadcrumb{padding:120px 0 30px;}
    
    /* Back to Top */
    #backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
    #backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
    #backtotop.visible{visibility:visible; opacity:.5;}
    #backtotop:hover{opacity:1;}
    
    /* Colours
    --------------------------------------------------------------------------------------------------------------- */
    body{color:#7A7A7A; background-color:#FFFFFF;}
    a{color:#CF9C67;}
    a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
    hr, .borderedbox{border-color:#D7D7D7;}
    label span{color:#FF0000; background-color:inherit;}
    input:focus, textarea:focus, *:required:focus{border-color:#CF9C67;}
    
    .overlay{color:#FFFFFF; background-color:inherit;}
    .overlay::after{color:inherit; background-color:rgba(0,0,0,.8);}
    .overlay.light::after{background-color:rgba(0,0,0,0.36);}
    
    .btn, .btn.inverse:hover{color:#FFFFFF; background-color:#CF9C67; border-color:#CF9C67;}
    .btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}
    
    .imgover:hover::before{background:rgba(0,0,0,.55);}
    .imgover, .imgover:hover::after{color:#FFFFFF;}
    
    /* Rows */
    .row0, .row0 a{color:#FFFFFF;}
    .row1{color:#FFFFFF; background-color:rgba(0,0,0,0);}
    .row2{color:#FFFFFF; background-color:#222222;}
    .row3{color:#7A7A7A; background-color:#FFFFFF;}
    .row4{color:#7A7A7A; background-color:#F7F7F7;}
    .row5, .row5 a{color:#7A7A7A; background-color:#FFFFFF;}
    .row6{color:#7A7A7A; background-color:#000708;}
    
    .row3 .heading, .row4 .heading{color:#121212;}
    
    /* Header */
    #header #logo a{color:inherit;}
    
    /* Click to Action */
    .cta:hover input{color:#FFFFFF; border-color:rgba(255,255,255,1);}
    .cta input:focus{border-color:#CF9C67;}
    .cta button{color:#FFFFFF; background-color:#CF9C67;}
    /* The following was requested from one of our users, it's the so-called "must have" cross-browser placeholder text colouring:
    if your not worried about it, simply delete it, as the placeholder will take on the default preset colour, but it will be rendered differently in each browser */
    .cta input[type="text"][placeholder]{color:#FFFFFF;}/* W3C */
    .cta ::-webkit-input-placeholder{color:#FFFFFF;}/* Chrome */
    .cta :-ms-input-placeholder{color:#FFFFFF;}/* IE 10+ */
    .cta ::-moz-placeholder{color:#FFFFFF; opacity:1;}/* FF 19+ */
    .cta :-moz-placeholder{color:#FFFFFF; opacity:1;}/* FF -19 */
    
    /* Navigation */
    #mainav li a{color:inherit;}
    #mainav .active a, #mainav a:hover, #mainav li:hover > a{color:inherit; background-color:inherit;}
    #mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,0.2); border-color:rgba(0,0,0,0.2);}
    #mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#CF9C67;}
    #mainav form select{color:#FFFFFF; background-color:#000000;}
    #breadcrumb a{color:inherit; background-color:inherit;}
    #breadcrumb li:last-child a{color:#CF9C67;}
    .container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
    .container .sidebar nav a:hover{color:#CF9C67;}
    .pagination a, .pagination strong{border-color:#D7D7D7;}
    .pagination .current *{color:#FFFFFF; background-color:#CF9C67;}
    #backtotop{color:#FFFFFF; background-color:#CF9C67;}
    
    
    /* Media Queries
    --------------------------------------------------------------------------------------------------------------- */
    @-ms-viewport{width:device-width;}
    
    
    /* Max Wrapper Width - Laptop, Desktop etc.
    --------------------------------------------------------------------------------------------------------------- */
    @media screen and (min-width:978px){
        .hoc{max-width:978px;}
    }
    
    
    /* Mobile Devices
    --------------------------------------------------------------------------------------------------------------- */
    @media screen and (max-width:900px){
        .hoc{max-width:90%;}
    
        #topbar{}
    
        #header{padding:30px 0;}
        #header #logo{margin-top:3px;}
    
        #mainav{}
        #mainav ul{display:none;}
        #mainav form{display:block;}
    
        #breadcrumb{}
    
        .container{}
        #comments input[type="reset"]{margin-top:10px;}
        .pagination li{display:inline-block; margin:0 5px 5px 0;}
    
        #footer{}
    
        #copyright{}
        #copyright p:first-of-type{margin-bottom:10px;}
    }
    
    
    @media screen and (max-width:750px){
        .imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
        .fl_left, .fl_right{display:block; float:none;}
        .group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
        .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
    
        #header{text-align:center;}
        #header #logo{margin:0 0 15px 0;}
    
        #pageintro article{max-width:none; text-align:left;}
        #pageintro .heading{font-size:2rem;}
    
        .sectiontitle{max-width:none;}
    
        .services + footer{text-align:left;}
    
        .cta > :first-child{margin-top:0;}
    }
    
    
    /* Other
    --------------------------------------------------------------------------------------------------------------- */
    @media screen and (max-width:650px){
        .scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
        .scrollable table{margin:0; padding:0; white-space:nowrap;}
    
        .inline li{display:block; margin-bottom:10px;}
        .pushright li{margin-right:0;}
    
        .font-x2{font-size:1.4rem;}
        .font-x3{font-size:1.6rem;}
    }